body {
    background-color: rgb(27, 29, 31);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

#fireCanvas, h3, p, a {
    margin: 8px;
    text-align: center;
    color: white;
}

button, input, footer {
    margin: 5px auto;
}

.button-container {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
    max-width: 600px; 
    margin: 20px auto; 
    padding: 0 20px; 
}

button {
    background-color: #8298af;
    color: rgb(248, 248, 248);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.5s;
    flex-shrink: 0; 
}

button:hover {
    background-color: #77c3e6;
    color: black;
}


table {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    color: white;
    width: 32px;
    height: 32px;
    font-size: 10px;
    text-align: center;
    vertical-align: center;
    position: relative;
    font-weight: bold;
}

td.pixel {
    width: 7px;
    height: 7px;
    border: 0;
}

.pixel-Index {
    font-size: 7px;
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 1px;
    color: #999;
}

section#controlsContainer {
    margin: auto;
    box-sizing: border-box;
    text-align: center;
}

div#controlBoxes {
    display: flex;
    flex-flow: wrap row;
}

div.controls {
    border: 1px solid whitesmoke;
    text-align: center;
    width: 150px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    vertical-align: auto;
}

#valueDisplay {
    display: none;
}

.margin {
    margin: 5px;
  }